@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,700');
html {}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
legend,
button,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

.lookup {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    /* overflow: hidden; */
    margin-top: -120px;
    pointer-events: none;
    opacity: 0;
    background: #333333;
    z-index: 999;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    transition: 0.2s;
}

.snowing .lookup.fade {
    opacity: 0;
    transition: .8s;
}

.snowing .lookup {
    opacity: 1;
}

.lookup.fade {}

.lookup > div {
    background: url('lookup.png') center center no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

body {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body.snowing {
    cursor: move;
}

.a-enter-vr-modal {
    height: auto !important;
}

body * {
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.lookup p {
    position: absolute;
    bottom: -30px;
    color: #999;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 1em;
    margin: 1em auto;
    background: #74d1f2;
    border-radius: 4px;
    color: #333;
    width: 70%;-30px
    width: 100%;
    font-weight: 700;
}

.owl-pagination {
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
}

.onboard h1 {
    text-align: center;
    color: white;
    top: 50%;
    position: absolute;
    font-weight: 700;
    width: 100%;
    margin-top: -220px;
    font-size: 150%;
}

.cont {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}

.cont .item {
    color: white;
    width: 100%;
    height: 350px;
    background-size: cover !important;
    background-position: center center !important;
    text-align: center;
}

.item.with_btn {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.cont .item p {
    text-align: left;
    padding: 0 2em;
    font-size: 14px;
    text-align: center;
}

.cont .item img {
    height: 75%;
}

.cont .item.with_btn img {
    width: 90%;
    height: auto;
    margin: 40px 0 10px;
}

.onboard {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    /* border: 1px solid #555; */
    background: #222;
    bottom: 0;
}

.onboard > .tips {
    background: #333;
    width: 280px;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -180px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.29);
}

.btn_close {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 180px;
    margin-left: 80px;
    color: #555;
    padding: 1em;
}


.btns .refill{
    position: absolute;
    left: 50%;
    bottom: 160px;
    width: 44px;
    height: 44px;
    padding: 11px;
    margin-left: 85px;
    transition: .2s;
    background: rgba(255,255,255,.1);
}

.snowing .refill {
    opacity: 0;
    pointer-events: none;
}

.refill p {
    position: absolute;
    bottom: -27px;
    /* background: black; */
    color: #383838;
    padding: 7px;
    width: 60px;
    font-size: 12px;
    margin-left: -30px;
    left: 50%;
    /* opacity: 0; */
    transition: 0.2s;
}

.refill:hover p {
    color: white;
}

.refill:hover p {
    opacity: 1;
}

.refill svg {
    fill: #222;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 99vw;
    left: 0;
    padding: 10px;
    transition: 0.2s;
    top: 0;
}

.sneak .refill {
    opacity: 0;
    pointer-events: none;
}

svg:hover {
    fill: white;
}

#dotCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.cover {
    width: 70%;
    background: #222;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(15.2deg);
    transform-origin: 0 0;
    z-index: 1;
}

.cover.left {
    transform: rotate(-15.2deg);
    transform-origin: 100% 0;
    left: auto;
}

#theCanvas {
    opacity: 1;
    transition: opacity 0.2s .3s;
}

.sneak #theCanvas {
    opacity: 0;
    transition: 0.2s;
}

.snowing a-entity.container {
    opacity: 1;
}

.start p:last-of-type {
    display: none;
}

.snowing .start p:last-of-type span {
    font-size: 10px;
    display: block;
}

.snowing .start p:last-of-type {
    display: inline;
}

.snowing .start p:first-of-type {
    display: none;
}

.btns {
    z-index: 99;
    left: 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 85%;
    font-weight: 700;
}

.snowing .btns:hover {}

.btns div {
    border-radius: 99vw;
    padding: 1em 1.6em;
    margin: 0 .2em;
}

.preview p {
    pointer-events: none;
}

.preview {
    z-index: 11;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
}

.snowing .preview {
    display: none;
}

.pre.preview p:first-of-type {
    display: none;
}

.preview p:last-of-type {
    display: none;
}

.pre.preview p:last-of-type {
    display: inline;
}

.preview:hover {
    background: rgba(255, 255, 255, .2);
}

#lineCanvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.p_top {
    position: absolute;
    left: 0;
    top: 96px;
    width: 100%;
    height: 116px;
    transform: rotate(180deg);
    transform-origin: 50% 0;
    z-index: 2;
}

.p_left,
.p_right {
    width: 269px;
    height: 100%;
    transform: rotate(15deg);
    transform-origin: 0 0;
    position: absolute;
    left: 360px;
    top: 0;
    z-index: 2;
    background: #222;
}

.p_right {
    transform: rotate(-15deg);
    right: 360px;
    left: auto;
    top: 0;
    transform-origin: 100% 0;
}

.first {
    animation: breath .5s ease-in-out infinite alternate;
}

.first.on {
    animation: none;
    background: #74d1f2;
    transform: scale(1.8);
}

.dot {
    position: absolute;
    transition: 0.2s;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    background: rgba(27, 33, 39, 0.25);
    border-radius: 999vw;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid #ffffff;
    z-index: 10;
}

.cutter {
    position: absolute;
    left: 50%;
    top: 0;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 0 200px #222;
    z-index: 10;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: 0.2s;
    margin-left: -250px;
    background: #222;
}

.wrapper.pre {
    box-shadow: none;
}

.wrapper.pre {
    transform: translate3d(0, -150vmin, 0);
}

.snowing .wrapper {
    display: none;
}

#myCanvas {
    /* position: absolute; */
    z-index: 1;
    /* left: 50px; */
    /* top: 50px; */
    transition: 0.2s;
}

.snowing #myCanvas {
    opacity: 0;
    pointer-events: none;
}

.start {
    background: white;
    display: inline-block;
    text-transform: uppercase;
    z-index: 99999;
    border: 1px solid white;
    transition: 0.2s;
    vertical-align: bottom;
}

.snowing .start {
    background: none;
    color: white;
}

.snowing .btns {
    z-index: 1;
}

.wrapper {
    /* width: 100vmin; */
    /* height: 90vmin; */
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 20;
    transition: transform 0.2s;
    background: #222;
    /* margin-top: -50vmin; */
    left: 0;
    right: 0;
    bottom: 80px;
}

.snow {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    position: absolute;
    top: 0%;
    transform: rotateX(90deg) translateX(200px) translateY(-50px) translateZ(10px);
    transform-style: preserve-3d;
}

.snow > div {
    background: url('flake.png') center center no-repeat;
    width: 100%;
    height: 100%;
    transition: 5s linear;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover !important;
}

.go .snow > div {
    transform: translateZ(-250px);
}

@keyframes breath {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
        background: #74d1f2;
    }
}

.a-enter-vr-button{
    display: none;
}

.snowing .a-enter-vr-button{
    display: block;
}